databaseType = "PostgreSql"
name = "Postgres-AutoPilot"
id = "d9495d20-78ab-41d3-9f59-0da558541f7b"

[flywayDesktop]
developmentEnvironment = "development"
shadowEnvironment = "shadow"
schemaModel = "./schema-model"

  [flywayDesktop.generate]
  undoScripts = true

[redgateCompare]
filterFile = "filter.rgf"

[flyway]
mixed = true
outOfOrder = true
locations = [ "filesystem:migrations" ]
validateMigrationNaming = true
baselineVersion = "001_20230821140817"
baselineOnMigrate = true

[environments.development]
url = "jdbc:postgresql://localhost:5432/widgetdev"
schemas = [ "public" ]
displayName = "Development database"

[environments.shadow]
url = "jdbc:postgresql://localhost:5432/widgetshadow"
schemas = [ "public" ]
displayName = "Shadow database"
provisioner = "clean"

[environments.Test]
url = "jdbc:postgresql://localhost:5432/widgettest"
schemas = [ "public" ]
displayName = "Test"

[environments.Prod]
url = "jdbc:postgresql://localhost:5432/widgetprod"
schemas = [ "public" ]
displayName = "Production"

[environments.Build]
url = "jdbc:postgresql://localhost:5432/widgetbuild"
schemas = [ "public" ]
displayName = "Build"
